body {
    background-color: rgb(72, 140, 192);
}


.unselectable {
    user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.image-text {
    margin-top: -60px;
    display: inline;
    margin-left: -20%;
    margin-right: -20%;
}

.hidden {
    display: none !important;
}

textarea {
    height: 60px;
    resize: none;
}

#MenuContainer {
    margin-left:auto;
    margin-right:auto;
}

.menuButton {
    background-color: rgb(32,156,156);
    margin: 20px;
    padding: 10px;
    border-style:solid;
    border-width:2px;
    border-color:rgb(48, 192, 192);
    cursor: pointer;
    font-family: Arial;
    color: lightblue;
    font-weight: bolder;
    font-size: 20px;
}
.menuButtonSmall {
    background-color: rgb(32,156,156);
    font-size: 12px;
    border-style:solid;
    border-width:2px;
    border-color:rgb(48, 192, 192);
    cursor: pointer;
    font-family: Arial;
    padding: 4px;
    color: lightblue;
    font-weight: bolder;
}

.menu {
    background-color:rgba(122, 172, 209, 0.7);
    border-style:solid;
    border-width:2px;
    border-color:rgba(160, 195, 222, 0.7);
    position:absolute;
    text-align: center;
}

table {
    margin: auto;
    width: 100%;
}

#CanvasTable {
    margin-left:auto;
    margin-right:auto;
}

#editCell {
    width: 300px;
    vertical-align:top;
}

.editorBox {
    width: 100%;
}

#editSprites {
    margin-left:20px;
    margin-top:50px;
    display: flex;
    flex-wrap: wrap;
}
.editorObject {
    cursor:pointer;
    margin: 5px;
    padding: 7px;
    background-color: rgba(255, 255, 255, 0.29);
}
.editorObject.selected {
    font-weight: bold;
    color: white;
    background-color: rgb(34, 67, 93);
}

canvas {
    display: block;
    outline: 5px solid white;
    outline-offset: 3px;
}